header{
	text-align: center;
	color: white;
	display: inline-block;
	justify-content: center;
	width: 100%;
	height: 400px;
	background: url("../img/paris_header.JPG");
}
header h1{
	font-family: 'Cinzel Decorative', cursive;
}

.topnav{
	background: black;
	width: 100%;
	overflow: hidden;
	font-family: 'Cinzel Decorative', cursive;
}
.topnav ul{
	display: inline-block;
	color: white;
	text-align: center;
	list-style: none;
}

.topnav a:hover {
    background-color: #FFC0CB;
    color: white;
}

.active {
    background-color: #FFB6C1;
    color: white;
}

nav#topnav.topnav {
		display: block;
		text-align: center;}

.topnav li a{
	display: block;
	color: white;
	text-decoration: none;
	background-color: black;
	text-align: center;
	padding: 14px 16px;

}
div h1{
	font-size: 40px;
}
aside{
	position: fixed;
	padding: 0px;
	right: 0px;
}

/*body{
	background-image: 
}*/

#content h1{
	position: absolute;
	font-family: 'Cinzel Decorative', cursive;
	right: 2REM;
	font-size: 50px;
}

#content p{
	position: absolute;
	font-family: 'Cinzel Decorative', cursive;
	right: 2EM;
}

/*#content li{
	text-align: center;
	display: inline-block;

}*/
/*#content li span{
	border-radius: 50%;
 	border: 1px dashed black;
 	padding: 5px 10px;
 	margin-right: 10px;
 	background:#fff
 	line-height:20px ;

}*/
#content img{
	position: absolute;
    left: 40px;
    width: 400px;
    border: 3px solid rgb(0,0,0);
    padding: 10px;
}

footer{
	background: #ADD8E6y;
}
 
