header{
	text-align: center;
	color: white;
	display: inline-block;
	justify-content: center;
	width: 100%;
	height: 500px;
	background: url("../img/smoke.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
header h1{
	font-family: 'Coustard', serif;
	font-size: 100px;
	margin: 0;
	letter-spacing: 15px;
}

.topnav{
	background: #87CEEB	;
	width: 100%;
	overflow: hidden;
	font-family: 'Coustard', serif;
}
.topnav ul{
	display: inline-block;
	color: white;
	text-align: center;
	list-style: none;
	background-color: red;
}

.topnav a:hover {
    background-color: #ffbf7f;
    color: white;
}

.active {
    background-color: #FFB6C1;
    color: white;
}

nav#topnav.topnav {
		display: block;
		text-align: center;
		background-color: 	red;}

.topnav li a{
	display: block;
	color: white;
	text-decoration: none;
	background-color: 	red;
	text-align: center;
	padding: 14px 16px;

}

aside{
	position: fixed;
	padding: 0px;
	right: 0px;
}

body{
	background-image: 
}

#content h1{
	padding: 0;
}
#content li{
	text-align: center;
	display: inline-block;

}
#content li span{
	border-radius: 50%;
 	border: 1px dashed black;
 	padding: 5px 10px;
 	margin-right: 10px;
 	background:#fff
 	line-height:20px ;

}
#content img{
	position: absolute;
    left: 50px;
    width: 300px;
    border: 3px solid rgb(0,0,0);
    padding: 10px;
}

footer{
	background: #ADD8E6y;
}
 
