header h1{
	background-color: yellow;
	text-align: right;
	margin: 0px;
}
nav{
	background: green;
}
*{
	margin:0;
	position: static;
}
ul{
	list-style-type: none;
}
nav ul{
	list-style-type: none;
	width: 75%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
nav li{
	display: inline-block;
	background-color: black;
	padding: 10px 30px;
	margin: 0px 3px;
}
nav a{
color:white;
text-decoration: none;
}

body{
	background-color: grey;
}
aside{
	background: white url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat center;
	height: 100%;
	background-size: contain;
	width: 20%;
	position: absolute;
	right: 0}

#content ul{
	text-align: center;
}
#content{
	background-color: grey;
	width:80%;
}
#wrap{
	width: 80%;
	margin: auto;
	position: relative;
	overflow: hidden;

}

footer{
	background: green;
	padding: 10px;
}
 
